@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Twitter Tracker App</title>
</head>

<body>
    


        <div style="text-align: center;">
            @if (@TempData["Id"] != null)
            {
                <h2>Twitter Authentication Complete!</h2>
    
    
                <h1>Welcome @TempData["Name"]</h1>
                <p>Your ID @TempData["Id"]</p>
                <br />
                <img src="@TempData["Userpic"]" style="width:100px;height:100px;" />
                <br />
                <p>you've successfully been authenticated via Twitter.</p>

                if (@TempData["isFollower"] == "yes"){
                    <p>Good You follwer of specific USER ID</p>
                } else {
                    <p>You not follwer of specific USER ID</p>
                }


                if (@TempData["isRetweet"] == "yes"){
                    <p>Good, You retweet specific TWEET ID</p>
                } else {
                    <p>You not retweet of specific TWEET ID</p>
                }


            }
            else
            {
                <h2>Authentication failed!</h2>
                <p>Something went wrong during the authentication, please <a href="/Home/TwitterAuth">try again</a>!</p>
            }
        </div>


    
</body>

</html>
